    <div class="form-section">
                <h4>Oddajesz:</h4>
                <ul>
                  <li>
                    <span class="icon icon-bag"></span>
                    <span class="summary--text"
                      >{{ bags }} worki z kategorii - {{ category.name }}</span
                    >
                  </li>

                  <li>
                    <span class="icon icon-hand"></span>
                    <span class="summary--text"
                      >Dla fundacji {{ institution.name }} w Warszawie</span
                    >
                  </li>
                </ul>
              </div>

              <div class="form-section form-section--columns">
                <div class="form-section--column">
                  <h4>Adres odbioru:</h4>
                  <ul>
                    <li>{{ adress }}</li>
                    <li>{{ city }}</li>
                    <li>{{ code }}</li>
                    <li>{{ phone }}</li>
                  </ul>
                </div>

                <div class="form-section--column">
                  <h4>Termin odbioru:</h4>
                  <ul>
                    <li>{{ date }}</li>
                    <li>{{ time }}</li>
                      {% if more_info %}
                      <li>{{ more_info }}</li>
                      {% else %}
                    <li>Brak uwag</li>
                      {% endif %}
                  </ul>
                </div>
              </div>