{% extends 'base.html' %}
  {% block headerMain %}
        <header class="header">
        {% endblock %}
{% block slogan %}
{% endblock %}
{% block content %}
  <body>
    <section class="login-page">
      <h2>Zaloguj się</h2>
      <form action="#" method="post">
        <div class="form-group">
            {% csrf_token %}
       {{ form.as_p }}
          <a href="{% url 'register' %}" class="btn btn--without-border">Załóż konto</a>
          <button class="btn" type="submit">Zaloguj się</button>
        </div>
      </form>
    </section>
  </body>
{% endblock %}

