{% extends 'base.html' %}
  {% block slogan %}
   <div class="slogan container container--90" style="padding-left: 40%">
     {% if validlink %}
    <h2>Change password</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Zmień hasło</button>
    </form>
  {% else %}
    <p>
      Link do resetowania hasła był nieprawidłowy, prawdopodobnie dlatego, że został już użyty.
      Poproś o zresetowanie nowego hasła.
    </p>
  {% endif %}
      </div>
      {% endblock %}
{% block content %}

{% endblock %}